// Typo
body {
  font-weight: 300;
}

// Typo
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

// Images
img,
figure,
picture {
  @include img-responsive();
}

// Links
a {
  &:hover,
  &:focus,
  &.focus {
    outline: none;
  }
}