// Glyphicons font path
$icon-font-path:                  "../fonts/";

//== Grid settings
$main-sm-columns:                 12;
$sidebar-sm-columns:              4;
$grid-float-breakpoint:           9999px;

//== Colors
$gray-base:                       #000;
$brand-primary:                   #706F6F;
$white:                           #FFF;

//== Scaffolding
$body-bg:                         #E5E6E5;
$text-color:                      $brand-primary;
$link-color:                      $gray-base;
$link-hover-color:                darken($link-color, 15%);
$link-hover-decoration:           none;

//== Components
$border-radius-base:              0;
$border-radius-large:             0;
$border-radius-small:             0;