{% extends "base.twig" %}

{% block main %}
  <section class="intro row">
    <article class="entry-content {% if post.get_field('acf_banner') %}has-sidebar{% endif %}">
      {% block content %}
        <h1>{{post.title}}</h1>
        {{split_content}}
        {% include 'share-bar.twig' %}
      {% endblock %}
    </article>
    {% if post.get_field('acf_banner') %}
      <aside class="sidebar">
        {% block banner %}
          {% for banner in post.get_field('acf_banner') %}
            {% if banner.acf_fc_layout == 'acf_image_banner' %}
              {% set grid_sizes = [ [['col-sm-4', 360, 0, '', 768], ['col-xs-12', 738, 0, '']], 360, 0, ''] %}
              {% include 'banner-image.twig' %}
            {% endif %}
          {% endfor %}
        {% endblock %}
      </aside>
    {% endif %}
  </section> 
{% endblock %}