{% set img = TimberImage(image.id) %}
{% if img %}
  {% set ratio = img.height / img.width %}
  <div class="item {% if img.caption %}has-caption{% endif %}">
    <div class="stretch loading">
      <i class="fa fa-circle-o-notch fa-spin"></i>
    </div>
    {{ function('create_resp_picture', loop.index0, ['stretch'], true, [ 
        [img.src|letterbox(1140, 760, '#E5E6E5'), img.src|letterbox(2280, 1520, '#E5E6E5'), 1024],
        [img.src|letterbox(1024, 682, '#E5E6E5'), img.src|letterbox(2048, 1364, '#E5E6E5'), 992], 
        [img.src|letterbox(962, 641, '#E5E6E5'), img.src|letterbox(1924, 1282, '#E5E6E5'), 768], 
        [img.src|letterbox(738, 492, '#E5E6E5'), img.src|letterbox(1476, 984, '#E5E6E5')] ], img.src|letterbox(1140, 760, '#E5E6E5'), img.alt) }}
    {% if img.caption %}  
      <p class="caption">{{img.caption}}</p>
    {% endif %}
  </div>
{% endif %}