{% extends "base.twig" %}

{% block main %}
  <h3>{{ term.name }}</h3>
  {% if images %}
    <div class="owl-carousel">
      {% for image in images %}
        {% include 'loop-image.twig' %}     
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}